<section id="realTimeContainer">
    <form class="formContainer formContainerProducts" id="formProduct">
        <h2 class="formTitle">Agregar Producto</h2>
        {{#if (eq user.rol 'admin')}}
        <p class="cardDescription">El campo owner no es necesario completarlo</p>
        {{else}}
        <p class="cardDescription">El campo owner debe ser completado con tu email, caso contrario será propiedad del
            administrador.</p>
        {{/if}}
        <input type="text" placeholder="Título" name="title" class="formInput" id="title" />
        <input type="text" placeholder="Descripción" name="description" class="formInput" id="description"
            maxlength="80" />
        <input type="text" placeholder="Categoría" name="Category" class="formInput" id="category" maxlength="20" />
        <input type="text" placeholder="Código" name="code" class="formInput" id="code" maxlength="8" />
        <input type="text" placeholder="Url imagen" name="img" class="formInput" id="img" />
        <input type="number" placeholder="Precio" name="price" class="formInput" id="price" />
        <input type="number" placeholder="Stock" name="stock" class="formInput" id="stock" />
        <input type="email" placeholder="Owner" name="owner" class="formInput" id="owner" />
        <button class="buttonForm" type="submit">Agregar</button>
    </form>
</section>
{{#if products.docs}}
<section class="mainProductControl">
    <h1>Lista de productos</h1>
    <div class="productsInCart">
        {{#each products.docs}}
        <div class="productGrid product{{this._id}}">
            <figure>
                <img class="cartProductImg" src="{{this.thumbnail}}" alt="{{this.title}}">
            </figure>
            <p>{{this.title}}</p>
            <p>{{this.price}}</p>
            <p>{{this.category}}</p>
            <button class="cardButton buttonTrash" onclick="deleteProduct('{{this._id}}')"><i
                    class="fa-solid fa-trash fa-lg"></i></button>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
<section class="mainProductControlEmpty">
    <h1>No existen productos cargados </h1>
</section>
{{/if}}
    <div class="paginationContainer">
        {{#if hasPrevPage}}
        <button class="buttonBlack" onclick="prevPage('{{page}}')">Página Anterior
        </button>
        {{else}}
        <button class="buttonDisabled">Página Anterior</button>
        {{/if}}
        <h3>{{page}}</h3>
        {{#if hasNextPage}}
        <button class="buttonBlack" onclick="nextPage('{{page}}')">
            Página Siguiente
        </button>
        {{else}}
        <button class="buttonDisabled">Página Siguiente</button>
        {{/if}}
    </div>
<script src="/js/adminProducts.js"></script>
<script src="/js/filters.js"></script>