<div class="productsContainer">
    <h1>Cart</h1>
    {{#if productsInCart}}
    <section class="productsInCart">
        {{#each productsInCart}}
        <div class="productGrid product{{this._id}}">
            <figure>
                <img class="cartProductImg" src="{{this.thumbnail}}" alt="{{this.title}}">
            </figure>
            <p>{{this.title}}</p>
            <div class="containerQuantity">
                <button onclick="minusQuantity('{{this._id}}')" class="cardButton">-</button>
                <p class="quantity">{{this.quantity}}</p>
                <button onclick="plusQuantity('{{this._id}}')" class="cardButton">+</button>
            </div>
            <p>${{this.price}}</p>
            <div>
                <button class="cardButton buttonTrash" onclick="deleteProductInCart('{{this._id}}')"><i class="fa-solid fa-trash fa-lg"></i></button>
            </div>
        </div>
        {{/each}}
    </section>
    <section class="buttonsContainer">
        <div class="buttonCartContainer">
            <button class="buttonBlack buttonCart" onclick="redirectToCheckout('{{cartId}}')">Finalizar Compra</button>
        </div>
        <div class="buttonCartContainer">
            <button class="buttonFilters removeFilters buttonCart" onclick="deleteProductsInCart()">Vaciar
                Carrito</button>
        </div>
        <div class="buttonCartContainer">
            <button class="buttonFilters buttonCart" onclick="backHome()">Volver a Home</a></button>
        </div>
    </section>
</div>
{{else}}
<div class="emptyCartContainer">
    <h3 class="emptyTitle">No hay productos en el carrito :(</h3>
    <div class="buttonCartContainer">
        <button class="buttonBlack" onclick="backHome()">Volver a Home</a></button>
    </div>
</div>

{{/if}}
</div>
<script src="/js/cart.js"></script>