<main class="formContainerCheckout">
    <table class="product-table">
        <tr>
            <th><p>Producto</p></th>
            <th><p>Precio</p></th>
            <th><p>Stock</p></th>
            <th><p>Cantidad</p></th>
            <th><p>Subtotal</p></th>
        </tr>
        {{#each products}}
            <tr>
                <td><p>{{this.product.title}}</p></td>
                <td><p>{{this.product.price}}</p></td>
                <td><p>{{this.product.stock}}</p></td>
                <td><p>{{this.quantity}}</p></td>
                <td><p>{{multiply this.product.price this.quantity}}</p></td>
            </tr>
        {{/each}}
        {{#each outOfStockProducts}}
            <tr>
                <td><p>{{this.product.title}}</p></td>
                <td><p>{{this.product.price}}</p></td>
                <td><p>{{this.product.stock}}</p><p class="lowStock">Stock Insuficiente</p></td>
                <td><p>{{this.quantity}}</p></td>
                <td><p>{{multiply this.product.price this.quantity}}</p></td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="3"><p>Total:</p></td>
            <td><p>{{total}}</p></td>
        </tr>
    </table>
    <div id="card-element" class="formInput"></div>
    <button class="buttonForm" onclick="purchaseProducts('{{user.cartId}}')">Comprar</button>
    <a class="linkForm" onclick="goToCart('{{user.cartId}}')">Volver al Cart</a>
</main>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/purchase.js"></script>
