<div class="mainContainerCheckout">
    <main class="formContainerCheckout">
        <div class="product-table">
            {{#each products}}
            <div class="product-table-row">
                <p><strong>Producto: </strong>{{this.product.title}}</p>
                <p><strong>Precio: </strong>{{this.product.price}}</p>
                <p><strong>Stock: </strong>{{this.product.stock}}</p>
                <p><strong>Cantidad: </strong>{{this.quantity}}</p>
                <p><strong>Subtotal: </strong>${{multiply this.product.price this.quantity}}</p>
            </div>
            {{/each}}
            {{#each outOfStockProducts}}
            <div class="product-table-row low-stock">
                <p><strong>Producto: </strong>{{this.product.title}}</p>
                <p><strong>Precio: </strong>{{this.product.price}}</p>
                <p><strong>Stock: </strong>{{this.product.stock}}<span class="lowStock">Stock Insuficiente</span></p>
                <p><strong>Cantidad: </strong>{{this.quantity}}</p>
                <p><strong>Subtotal: </strong>${{multiply this.product.price this.quantity}}</p>
            </div>
            {{/each}}
            <div class="product-table-row total-row">
                <p><strong>Total:</strong> ${{total}}</p>
            </div>
        </div>
        <div id="card-element" class="formInput"></div>
        <button class="buttonForm buttonCheckout" onclick="purchaseProducts('{{user.cartId}}')">Comprar</button>
        <a class="linkForm" onclick="goToCart('{{user.cartId}}')">Volver al Cart</a>
    </main>
</div>



<script src="https://js.stripe.com/v3/"></script>
<script src="/js/purchase.js"></script>