<section class='sectionDetail'>
    <div class='sectionContainer'>
        <div class='imgContainer'>
            <img class='detailImg' src={{product.thumbnail}} alt='Foto de remera'></img>
        </div>
        <div class='detailContainer'>
            <p class='cardDescription'>{{product.category}}</p>
            <h2 class='detailTitle'>{{product.title}}</h2>
            <p class='detailDescription'>{{product.description}}</p>
            <p class='detailPrice'>${{product.price}}</p>
            <button class="buttonForm" onclick="addProductInCart('{{user.cartId}}','{{product._id}}')">Agregar al Carrito</button>
            <p class='detailPrice'>Stock Disponible: {{product.stock}}</p>
            <a class="linkForm" onclick="backHome()">Volver al Home</a>
        </div>
    </div>
</section>
<script src="/js/cart.js"></script>