<section id="realTimeContainer">
    <form class="formContainer" id="formProduct">
        <a onclick="backHome()" class="linkForm">Volver al Home</a>
        <h2 class="formTitle">Agregar Producto</h2>
        <input type="text" placeholder="Título" name="title" class="formInput" id="title" />
        <input type="text" placeholder="Descripción" name="description" class="formInput" id="description"
            maxlength="80" />
        <input type="text" placeholder="Código" name="code" class="formInput" id="code" maxlength="8" />
        <input type="text" placeholder="Categoria" name="Category" class="formInput" id="category" maxlength="20" />
        <input type="text" placeholder="Url imagem" name="img" class="formInput" id="img" />
        <input type="number" placeholder="Precio" name="price" class="formInput" id="price" />
        <input type="number" placeholder="Stock" name="stock" class="formInput" id="stock" />
        <input type="email" placeholder="Owner" name="owner" class="formInput" id="owner" />
        <button class="buttonForm" type="submit">Agregar</button>
    </form>
</section>
<section class="sectionProductsAdmin">
    <h2>Lista de productos</h2>
    <table>
        {{#each products.docs}}
        <tbody>
            <tr class="product{{this._id}}">
                <td>
                    <img class="cartProductImg" src="{{this.thumbnail}}" alt="{{this.product.title}}">
                </td>
                <td>
                    <p>{{this.title}}</p>
                </td>
                <td>
                    <p>{{this.description}}</p>
                </td>
                <td>
                    <p>${{this.price}}</p>
                </td>
                <td>
                    <button class="cardButton" onclick="deleteProduct('{{this._id}}')"
                        class="iconTrash">Eliminar</button>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    <div class="paginationContainer">
        {{#if hasPrevPage}}
        <button class="buttonBlack" onclick="prevPage('{{page}}')">Página Anterior
        </button>
        {{else}}
        <button class="buttonDisabled">Página Anterior</button>
        {{/if}}
        <h3>{{page}}</h3>
        {{#if hasNextPage}}
        <button class="buttonBlack" onclick="nextPage('{{page}}')">
            Página Siguiente
        </button>
        {{else}}
        <button class="buttonDisabled">Página Siguiente</button>
        {{/if}}
    </div>
    </div>
</section>
<script src="/js/admin.js"></script>
<script src="/js/filters.js"></script>